# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# public フォルダ内のファイルを無視

public/engineer-image.png
public/down-arrow.png
public/footer-image-portfolio01.png
public/footer-image-portfolio02.png

public/image_webp/engineer-image.webp
public/image_webp/down-arrow.webp
public/image_webp/footer-image-portfolio01.webp
public/image_webp/footer-image-portfolio02.webp




