@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
  .md:flex-wrap {
    flex-direction: column;
  }
}

body {
  line-height: 1.8rem;
  color: rgb(48 51 54);
}

p {
  margin-bottom: 1.4rem;
}

/* スライダー用の追加スタイル */
.custom-dots {
  @apply flex justify-center items-center list-none p-0;
}

.custom-dots li {
  @apply mx-1 w-[120px];
}

.custom-dots button {
  @apply p-0 border-none bg-black w-full h-full; /* ボタンの背景を黒に設定 */
}

.custom-dots li.slick-active {
  @apply border-2 border-green-800 rounded;
}

.custom-dots {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slick-prev,.slick-next  {
  right: -20px !important;
  top: 35% !important;
}

.slick-prev:before,
.slick-next:before {
  color: #120e4e !important;
  font-size: 25px !important;
}
